.footer
    .footer__container
        span.footer__help-text ¿Necesitas ayuda?
        .footer__top
            .footer__top-left 
                .footer__top-data-email
                    span.footer__top-icon.icon.icon-mail
                    span.footer__top-email atencionalcliente@totalenergies.com
                .footer__top-phone-numb
                    span.footer__top-icon.icon.icon-phone
                    span.footer__top-phone-numb 900 926 676

            .footer__top-right
                span.footer__top-companie-name SECURA INSURANCE ESPAÑA, S.A.U
                span.footer__top-companie-direction Calle Ribera del Loira 46, Madrid, 28042

        .footer__bottom 
            .footer__bottom-legal-policy
                a(href="#").footer__bottom-style.footer__cookie-policy Política de cookies
                a(href="#").footer__bottom-style.footer__legal-notice Aviso legal
                a(href="#").footer__bottom-style.footer_privacy-policy Política de privacidad 
            span.footer__bottom-privacy-policy © 2022 SecuraInsurance