/* COLORS */

/* Base */

$primary: #4B98D9;
$primary75:#6FA6D4;
$primary50: #9FC3E2;
$primary25: #CFE1F1;

/* Neutral */

$gray100: #353535;
$gray75: #686868;
$gray50:#9A9A9A ;
$gray25:#CDCDCD;
$light: #FAFCFE;

/* Function */

$sucess: #3BD378;
$error: #E75249;

$paid:#57AE6026;
$waiting:#FFE74F66;
$expired:#DB39001F;

/* Information */

$text-nav: #405258;
$text: #191C3D;
$subtext: #7579A0;
$accent: #D8DBF5;
$inverse-text: #F7F7FC;

$paid-text: #397A3F;
$expired-text: #B22E00;

/* Page */

$gray-line: #E6E7E8;
$gray-hover: #EFF3F5;
$gray-bg: #FAFAFA;




/* FONTS */

/* Family */

$ft-roboto:'Roboto', san-serif;

/* Sizes */

$ft-size-h1: 64px;
$ft-size-h2: 40px;
$ft-size-h3: 24px;
$ft-size-subtitle: 24px;
$ft-size-body: 16px;
$ft-size-small: 10px;

/* Weight */
$ft-weight-bold: 700;
$ft-weight-semibold: 600;
$ft-weight-regular: 400;


/* BOX */

$bx-shadow: 0 8px 24px rgba(0,0,0,0.1);


/* BREAKPOINTS */

$media-xxs: 360px;    
$media-xs: 480px;     
$media-sm: 576px;    
$media-md: 768px;    
$media-lg: 992px;    
$media-xl: 1200px;   
$media-xxl: 1440px;
$media-xxxl: 1920px;

/* ICONS */

$bg-icon-profile: #FAFCFE;

$icomoon-font-family: "iconos" !default;
$icomoon-font-path: "fonts" !default;

$icon-delete: unquote('"\\e900"');
$icon-edit: unquote('"\\e902"');
$icon-calendar: unquote('"\\e903"');
$icon-skip-right: unquote('"\\e904"');
$icon-filter: unquote('"\\e901"');
$icon-file: unquote('"\\e905"');
$icon-burger-menu: unquote('"\\e906"');
$icon-mail: unquote('"\\e907"');
$icon-check: unquote('"\\e908"');
$icon-waiting: unquote('"\\e909"');
$icon-close: unquote('"\\e90a"');
$icon-arrow-dropdown: unquote('"\\e910"');
$icon-user: unquote('"\\e90b"');
$icon-globe: unquote('"\\e90c"');
$icon-power-off: unquote('"\\e90d"');
$icon-phone: unquote('"\\e90e"');
$icon-lock: unquote('"\\e90f"');