mixin dropdownButton(icon, label, icon_arrow)
  button.nav__button
    if icon
      span.icon-mobile(class=icon)
    if label
      span.nav__button-text= label
    if icon_arrow
      span.icon-mobile(class=icon_arrow)
