extends layouts/layout-home
include ./components/component-renovation-info
include ./fragments/fragment-lead.pug

block vars
  - var pageTitle = "Secura Insurance";

block header
  title Secura Insurance

block content
  .main
    .main__banner-section
      img.main__banner-image(src="./images/image-hero.jpg", alt="image hero")
      .main__banner-text
        h1.main__welcome-text Bienvenido a tu área personal
        span.main__welcome-subtext Gracias a ti más personas pueden disfrutar de una vida más segura.


    .main__renovation-section
      .main__upcoming-renovation-text-container
        span.main__upcoming-renovation-text Próximas renovaciones
      .main__renovation-data-container
        +renovation-data-section('icon-waiting', 'Pendiente')
        +renovation-data-section('icon-close', 'Vencido')
        +renovation-data-section('icon-check', 'Pagada')
      button.main__button-see-more Ver todas

    .main__lead-section
      .main__lead-text-container
        span.main__lead-text Clientes Potenciales
      .main__lead-data
        +lead-data-section("José Carlos Rodríguez", "Seguro de moto", "jose.rod@gmail.com", "+34 258 632 555")
        +lead-data-section("Ana Perffeti", "Seguro de casa", "ana.per@gmail.com", "+34 258 632 444")