extends layouts/layout-home
include ./components/component-renovation-info

block vars
    - var pageTitle = "Próximas Renovaciones - Secura Insurance";

block header
    title Próximas Renovaciones - Secura Insurance

block content

    - var iteration = 0;
    - var icon_state = ['icon-waiting', 'icon-close', 'icon-check']
    - var text_state = ['Pendiente', 'Vencido', 'Pagada']

    .next-renovation

        .next-renovation__top
        
            .next-renovation__top-container
                .next-renovation__top-links 
                    a(href="#").next-renovation__top-link Pólizas
                    span.next-renovation__top-link /
                    a(href="#").next-renovation__top-link Próximas renovaciones
                .next-renovation__top-data 
                    span.next-renovation__top-title Próximas renovaciones
                    .next-renovation__top-policies
                        span.next-renovation__top-policies-icon.icon-file
                        span.next-renovation__top-policies-number 770 Pólizas

        .next-renovation__mid

            .next-renovation__filter-container.js-filter-container
                button.next-renovation__filter-button.js-filter-button
                    .next-renovation__filter-button-container.js-filter-button-container
                        span.next-renovation__icon-style.icon-filter
                        span.next-renovation__filter-button-text Filtros
                        span.next-renovation__number-filters.js-number-filters 0

                .next-renovation__dropdown-filter.js-dropdown-filter
                    .next-renovation__dropdown-filter-header
                        span.next-renovation__dropdown-text Filtros 
                        button.next-renovation__dropdown-filter-button-close.js-button-close
                            span.next-renovation__icon-close.icon-close

                    .next-renovation__dropdown-filter-options 
                        form(action="#" method="GET").next-renovation__dropdown-filter-form.js-dropdown-filter-form
                            .next-renovation__dropdown-filter-form-container
                                .next-renovation__dropdown-filter-item
                                    label(for="policies-number") No. de pólizas
                                    .next-renovation__dropdown-filter-item-container
                                        select(id="policies-number" name="policies-number").next-renovation__dropdown-filter-item-select
                                            option(value="allpolicies") Todas las pólizas
                                            option(value="option2") Opción 2
                                            option(value="option3") Opción 3
                                        .next-renovation__icon-style.icon-arrow-dropdown-2
                                .next-renovation__dropdown-filter-item
                                    label(for="risk-name") Nombre del riesgo
                                    input(type="text" id="risk-name" name="risk-name" placeholder="Introduce el nombre del riesgo").next-renovation__dropdown-filter-item-input
                                .next-renovation__dropdown-filter-item
                                    fieldset
                                        legend.next-renovation__dropdown-filter-item-legend-dates Fecha de validez
                                            .next-renovation__dropdown-filter-item-legend-dates-container
                                                .next-renovation__dropdown-filter-item-input
                                                    input(type="date", id="start-date", name="start-date").next-renovation__dropdown-filter-item-input-dates
                                                    span.next-renovation__icon-style.icon-calendar
                                                span.next-renovation__dropdown-filter-item-span-dates al
                                                .next-renovation__dropdown-filter-item-input
                                                    input(type="date", id="end-date", name="end-date").next-renovation__dropdown-filter-item-input-dates
                                                    span.next-renovation__icon-style.icon-calendar
                                .next-renovation__dropdown-filter-item
                                    label(for="amount") Importe
                                    input(type="number" id="amount" name="amount" placeholder="Introduce el importe").next-renovation__dropdown-filter-item-input
                                .next-renovation__dropdown-filter-item
                                    label(for="state") Estado
                                    .next-renovation__dropdown-filter-item-container
                                        select(id="state" name="state").next-renovation__dropdown-filter-item-select
                                            option(value="allstate") Todas los estados
                                            option(value="paid") Pagado
                                            option(value="waiting") Pendiente 
                                            option(value="expired") Vencido
                                        .next-renovation__icon-style.icon-arrow-dropdown-2
                            .next-renovation__dropdown-filter-footer
                                button.next-renovation__dropdown-filter-button-reset(type="reset") Borrar filtros
                                button.next-renovation__dropdown-filter-button-submit(type="submit") Aplicar filtros
                                          
        .next-renovation__mid-container
            .next-renovation__mid-position
                .next-renovation__mid-result
                    span.next-renovation__mid-policies-number 770 Pólizas
                    .next-renovation__mid-applied-filters-container
                        .next-renovation__mid-applied-filters.js-show-filters
                            span.next-renovation__mid-vertical-bar |
                            span.next-renovation__mid-number-filter.js-number-filters 0
                            span.next-renovation__mid-applied-filters-text Filtros aplicados
                button.next-renovation__mid-button-reset.js-button-reset.js-show-filters Borrar filtros

            .next-renovation__mid-order-container
                span.next-renovation__mid-order-label Ordenar por:
                button.next-renovation__mid-order-button
                    .next-renovation__mid-order-button-container
                        span.next-renovation__mid-order-button-text Mayor importe
                        span.next-renovation__icon-style.icon-arrow-dropdown-2

        .next-renovation__mid-data
        
            +renovation-data-section('icon-waiting', 'Pendiente')
            while iteration < 3
                each icon, index in icon_state
                    +renovation-data-section(icon, text_state[index])
                - iteration++;
            - iteration = 0;

        .next-renovation__bottom 

            .next-renovation__bottom-container
                span.next-renovation__bottom-filter-text Filas por páginas:
                button.next-renovation__bottom-filter-button
                    .next-renovation__bottom-filter-button-container
                        span.next-renovation__bottom-filter-number 10
                        span.next-renovation__icon-style.icon-arrow-dropdown-2


            .next-renovation__bottom-button-container
                span.next-renovation__bottom-pagination Página 1 de 77
                button.next-renovation__bottom-nav-button
                    span.next-renovation__bottom-nav-icon.icon-skip-left

                button.next-renovation__bottom-nav-button
                    span.next-renovation__bottom-nav-icon.icon-next-left

                button.next-renovation__bottom-nav-button
                    span.next-renovation__bottom-nav-icon.icon-next-right

                button.next-renovation__bottom-nav-button
                    span.next-renovation__bottom-nav-icon.icon-skip-right