.contact 
    .contact_container 
        form.contact_form(action="/submit" method="post")
            label.contac_email(for="email") Correo Principal
            input(type="email" id="email" name="email" placeholder="ejemplo@email.com")

            label.contac_email(for="correo_2") Correo 2
            input(type="email" id="email2" name="email2" placeholder="ejemplo@email.com")

            label.contac_email(for="phone_number") Teléfono principal
            input(type="tel" id="phone_number" name="phone_number" placeholder="+34 556 656 323")

