ul.nav__dropdown.nav__dropdown--language
    li.nav__dropdown-item.nav__dropdown--language-item
        a.nav__link(href="#")
            | Español
    li.nav__dropdown-item.nav__dropdown--language-item
        a.nav__link(href="#") 
            | English 
    li.nav__dropdown-item.nav__dropdown--language-item
        a.nav__link(href="#")
            | Catalan 
    li.nav__dropdown-item.nav__dropdown--language-item
        a.nav__link(href="#")
            | Gallego 
    li.nav__dropdown-item.nav__dropdown--language-item
        a.nav__link(href="#")
            | Euskera   