ul.nav__dropdown.nav__dropdown--profile
    li.nav__dropdown-item.nav__dropdown--profile-item
        span.nav__dropdown-title
            | Mi perfil
        span.nav__dropdown-description 
            | En este espacio puedes acceder, modificar, gestionar y consultar todo lo relacionado con tus servicios de energía. Fácil y rápido.
    li.nav__dropdown-item.nav__dropdown--profile-item
        span.icon-mobile.icon-user
        a.nav__link(href="#")
            | Mis datos personales 
    li.nav__dropdown-item.nav__dropdown--profile-item
        span.icon-mobile.icon-lock
        a.nav__link(href="#")
            | Mi Contraseña
    li.nav__dropdown-item.nav__dropdown--profile-item
        span.icon-mobile.icon-phone
        a.nav__link(href="#") 
            | Contacto 
    li.nav__dropdown-item.nav__dropdown--profile-item
        span.icon-mobile.icon-power-off
        a.nav__link(href="#")
            | Cerrar Sesión 