.lead {
    &__container {
        background-color: $light;
        box-shadow: $bx-shadow;
        padding: 16px;
        border-radius: 8px;

        @media (max-width:$media-md) {
            display: flex;
            flex-direction: column;

        }

    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;

        @media (max-width:$media-md) {
            display: grid;
            justify-content: initial;
        }

    }

    &__name {
        @include font-style($ft-roboto, $ft-size-subtitle, $ft-weight-regular, $text-nav);

        @media (max-width:$media-md) {
            grid-row: 2;
        }
    }

    &__delete-button {
        grid-column: 1;
        color: $primary;
        background-color: transparent;
        border: none;
        cursor: pointer;

         @media (max-width:$media-md) {
            grid-row: 1;
            margin-left: auto;
        }
    }

    &__mid,
    &__bottom {
        @media (max-width:$media-md) {
            padding-bottom: 24px;
        }
    }

    &__product {
        @include font-style($ft-roboto, $ft-size-body, $ft-weight-regular, $primary50);
        
        &::before{
            content: attr(data-title) " ";
        }
    }

    &__email,
    &__phone_num {
        @include font-style($ft-roboto, $ft-size-body, $ft-weight-bold, $primary);
        padding-top: 24px;

        &::before{
            content: attr(data-title) " ";
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        @media (max-width:$media-md) {
            display: flex;
            flex-direction: column;
        }

    }
}