.nav__dropdown--profile {
    @include font-style($ft-roboto, $ft-size-body, $ft-weight-regular);
    left: -150%;
    width: 320px;
    

    &-item {
        padding: 15px 20px;

        &:first-child {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &:not(:first-child) {
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
            transition: all 0.3s ease;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 2px;
                background: $primary;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }
}