button {
    @include font-style($ft-roboto, $ft-size-body, $ft-weight-regular);
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--mobile{
        background: none;
        border: none;
    }
}